<h1>About Us</h1>
<p>Networking at tech conferences on your behalf and alongside your team. Serving the role of technical/developer evangelist, sales, marketing, recruiting, brand ambassador and more. Will learn and demo your product/service, wear your t-shirt, say your pitch, and increase targeted audience engagement. </p>