<!-- <h1>About Us</h1>
<p>Networking at tech conferences on your behalf and alongside your team. Serving the role of technical/developer evangelist, sales, marketing, recruiting, brand ambassador and more. Will learn and demo your product/service, wear your t-shirt, say your pitch, and increase targeted audience engagement. </p> -->

<div class="jumbotron">
    <div class="container">
        <h1>About us</h1>
        <p>This is the sample project I built for <a href="https://onemonthrails.com">One Month Rails</a>.</p>
    </div>
</div>